
<div class="container">

	<br>
  	<div class="page-header">
   	  <h2>Resend confirmation instructions</h2>
 	</div>

	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
	  </div>

	  <hr/>

	  <div class="row justify-content-start">
	  	<div class="col-md-auto col-xs-12 form-group"">
		  <div class="actions">
		    <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
		  </div>
		</div>

		  <%= render "devise/shared/links" %>
	  </div>

	<% end %>

	

</div>