<% if errors.any? %>
  <div class="error_explanation alert alert-danger">
    <ul>
      <% errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @comment, remote: true do |f| %>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
      <%= f.label :title, class: 'input-group-text' %>
    </div>
  <%= f.text_field :title, size: '24x6', class: 'form-control' %>
  </div>
</hr>
   <div class="input-group mb-3">
    <div class="input-group-prepend">
      <%= f.label :content, class: 'input-group-text' %>
    </div>
  <%= f.text_area :content, size: '24x6', class: 'form-control' %>
  </div>

    <div class="input-group mb-3">
    <div class="input-group-prepend">
      <%= f.label :references, class: 'input-group-text' %>
    </div>
  <%= f.text_field :references, size: '24x6', class: 'form-control' %>
  </div>

  <%= f.hidden_field(:problem_id, value: locals[:problem_id]) %>

  <%= f.submit class: 'btn btn-primary col-md-2 offset-md-10' %> 
<% end %>