<div class="comment_form_errors"></div>

<div class="comment_new">
   <%= bootstrap_form_for @comment, remote: true do |f| %>
    <%= f.text_field :title, input_html: { rows: "2" }, class: 'form-control',  placeholder: 'Title' %>
    <%= f.text_area :content, size: '24x6', class: 'form-control',  placeholder: 'Content' %>
    <%= f.text_field :reference_list, class: 'form-control',  placeholder: 'References' %>
    <%= f.hidden_field(:problem_id, value: locals[:problem_id]) %>
    <%= f.submit class: 'btn btn-primary col-md-2 offset-md-10' %>
   <% end %>
</div>

