
    <div data-comment-id="<%=comment.id %>" class="card card-inner">
                  <div class="card-body">
                      <div  class="row">

                          <div class="col-md-2">
                                <% # TODO: make it circular %>
                               
                                   <p class="text-secondary"><%= comment.user.fullname%></p>
                              
                               <div><%= image_tag(comment.user.avatar.url(:thumb), class: "img-rounded") %></div>
                             
                          </div>
                          <div class="col-md-10">
                              <p><h5>title: <%= comment.title %></h5></p>
                              <p>content: <%= comment.content %></p>
                              <hr><small><p>references: <%= comment.references %></p></small>
                              <p>
                                 <% if current_user.id==comment.user.id %>
                                    <%= link_to 'Delete', comment_path(comment.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, role: 'button', class: 'float-right btn btn-danger ml-2r' %>

                                <% end %>
                             
                             </p>
                          </div>
                      </div>
                  </div>
</div>