<% unless user.is_admin %>
  <li class="list-group-item" data-user-id =<%= user.id %>>
  <h5> <%= link_to user.email, user_path(id: user.id) %> </h5>
  <%= "#{user.name} #{user.surname}" %><br>

  <% unless user.profession.nil? %>
    <%= user.profession.name %>
  <% end %>

  <% if current_user.is_admin? %>
  	<%= link_to 'Delete', user_path(id: user.id), method: :delete, remote: true, data: {confirm: "You sure?"}, role: 'button', class: 'btn btn-danger ml-2r' %>
  <%end%>
  </li>
  <br>
  <br>
<% end %>

