<div class="container">
    <br> 
    Name:
    <%= "#{@user.name}" %>
    <br> <br>
    Surname:
    <%= "#{@user.surname}" %>
    <br><br>
    Position:
    <%= "#{@user.position}" %>
    <br><br>
    Created_problems:
    <% if @problems.any? %>
        <% @problems.each do |problem| %>
            <li> 
                <b><%= problem.title %></b>
                from
                <b><%= problem.created_at %></b>
                (last modification at
                <b><%= problem.updated_at %></b>)
                <br />
                <%= problem.content %>
                <br /><br />
            </li>
        <% end %>
    <% else %>
        <i>None</i>
    <% end %>
    <hr>
	
    <% if current_user.id==@user.id %>
         <%= link_to "Edit Profile", edit_user_registration_path, role: 'button', class: 'btn btn-primary' %>
         <%= link_to 'Back to Users', users_path, role: 'button', class: 'btn btn-primary' %>
    <% else %>
        <%= link_to 'Back to Users', users_path, role: 'button', class: 'btn btn-primary' %>
    <% end %>
   

</div>