<div class="container">
    <br>
    <div class="row">
        <div class="col-xs-10 col-md-11">
            <h4> Name: <%= "#{@user.name}" %> </h4>
        </div>
        <div class="col-xs-10 col-md-11">
            <h4> Surname: <%= "#{@user.surname}" %> </h4>
        </div>
        <div class="col-xs-10 col-md-11">
            <h4> Position: <%= "#{@user.position}" %> </h4>
        </div>
        <div class="col-xs-10 col-md-11">
            <h4> Email: <%= "#{@user.email}" %> </h4>
        </div>
        <div class="col-xs-10 col-md-11">
            <%= image_tag @user_img %>
        </div>
    </div>
    
     <% unless current_user == nil %>
        <% if current_user.id==@user.id %>
            <hr/>
             <%= link_to "Edit Profile", edit_user_registration_path, role: 'button', class: 'btn btn-primary' %>
        <% end %>
    <% end %>

    <hr/>
    
    <h2> Created_problems: </h2>
    <% if @problems.any? %>
        <% @problems.each do |problem| %>
            <div class="row">
                <div class="col-xs-10 col-md-11">
                    <h4> <%= link_to problem.title, problem_path(id: problem.id) %> </h4>
                    Created at: <%= localize(problem.created_at, :format => :long) %> <br>
                    <hr/>

                </div>
            </div>
            
        <% end %>
    <% else %>
        <i>No problems created</i>
    <% end %>
    
	
   

</div>