<div style="background:transparent !important" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-body">
           <div class="row">
              <div class="col-md-12 lead "><h3>User profile</h3><hr></div>
            </div>
          <div class="row">
            <div class="col-md-4 text-center">
              <%= image_tag @user_img %>

            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="only-bottom-margin"><%= "#{@user.full_name}" %></h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span class="text-muted">Email:</span> <%= "#{@user.email}" %><br>
                  <span class="text-muted">Position:</span><%= " #{@user.position}" %><br>
                  <small class="text-muted"><%= "#{@user.created_at}" %></small>
                </div>
                <div class="col-md-6">
                     <% if user_signed_in? %>
                        <% if current_user.id==@user.id || current_user.is_admin==true%>
                          
                             <%= link_to "Edit Profile", edit_user_registration_path, role: 'button', class: 'btn btn-primary' %>
                        <% end %>
                  <% end %>    

                  </div>        
                </div>
              </div>
            </div>
            <hr><br>
               <h2> Created_problems: </h2>
                <% if @problems.any? %>
                    <% @problems.each do |problem| %>
                        <div class="row">
                            <div class="col-xs-10 col-md-11">
                                <h4> <%= link_to problem.title, problem_path(id: problem.id) %> </h4>
                                Created at: <%= localize(problem.created_at, :format => :long) %> <br>
                                <hr/>

                            </div>
                        </div>                        
                    <% end %>
                <% else %>
                    <i>No problems created</i>
                <% end %>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 </div>   
 