<div data-comment-id="<%=comment.id %>" class="card card-inner">
  <div class="card-body">
    <div  class="row">
      <div class="col-md-2">
        <% # TODO: make it circular %>
        <%= image_tag(comment.user.avatar.url(:thumb), class: "img img-rounded img-fluid") %>
        <p class="text-secondary text-center"><%= comment.user.full_name%></p>
      </div>
      <div class="col-md-10">
        <p><h5><%= comment.title %></h5></p>
        <p><%= comment.content %></p>
        <hr><p><%= comment.reference_list %></p>
        <p>
        <%if user_signed_in? %>
          <% if current_user.id==comment.user.id || current_user.is_admin?%>
            <%= link_to 'Delete', comment_path(comment.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, role: 'button', class: 'float-right btn btn-danger ml-2r' %>
          <% end %>
        <% end %>
        </p>
      </div>
    </div>
  </div>
</div>