<div class='dropdown show text-right mb-3'>
  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filter results
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to 'Title (A-Z)', filter_results_path(order_by: 'title: :asc', advanced_search_on: params[:advanced_search_on], lookup: params[:lookup], title_on: params[:title_on], content_on: params[:content_on], reference_on: params[:reference_on], tag_names: params[:tag_names]), class: 'dropdown-item' %>
    <%= link_to 'Title (Z-A)', filter_results_path(order_by: 'title: :desc', advanced_search_on: params[:advanced_search_on], lookup: params[:lookup], title_on: params[:title_on], content_on: params[:content_on], reference_on: params[:reference_on], tag_names: params[:tag_names]), class: 'dropdown-item' %>
    <%= link_to 'Content (A-Z)', filter_results_path(order_by: 'content: :asc', advanced_search_on: params[:advanced_search_on], lookup: params[:lookup], title_on: params[:title_on], content_on: params[:content_on], reference_on: params[:reference_on], tag_names: params[:tag_names]), class: 'dropdown-item' %>
    <%= link_to 'Content (Z-A)', filter_results_path(order_by: 'content: :desc', advanced_search_on: params[:advanced_search_on], lookup: params[:lookup], title_on: params[:title_on], content_on: params[:content_on], reference_on: params[:reference_on], tag_names: params[:tag_names]), class: 'dropdown-item' %>
    <%= link_to 'From the newest', filter_results_path(order_by: 'updated_at: :desc', advanced_search_on: params[:advanced_search_on], lookup: params[:lookup], title_on: params[:title_on], content_on: params[:content_on], reference_on: params[:reference_on], tag_names: params[:tag_names]), class: 'dropdown-item' %>
    <%= link_to 'From the oldest', filter_results_path(order_by: 'updated_at: :asc', advanced_search_on: params[:advanced_search_on], lookup: params[:lookup], title_on: params[:title_on], content_on: params[:content_on], reference_on: params[:reference_on], tag_names: params[:tag_names]), class: 'dropdown-item' %>
  </div>
</div>
