<h2>Advanced search</h2>
    <div class='form-check text-left'>
        <%= label_tag 'Enable advanced search:', nil, class: 'form-check-label text-danger' %>
        <%= check_box_tag :advanced_search_on, nil, false, class: 'chckb-advanced-enable' %>
    </div>
    <div class='form-check text-left'>
        <%= label_tag 'Serach within content?', nil, class: 'form-check-label' %>
        <%= check_box_tag :content_on, nil, false %>
    </div>
    <div class='form-check text-left'>
        <%= label_tag 'Search within title?', nil, class: 'form-check-label' %>
        <%= check_box_tag :title_on, nil, false %>
    </div>
    <div class='form-check text-left'>
        <%= label_tag 'Search within references?', nil, class: 'form-check-label' %>
        <%= check_box_tag :reference_on, nil, false %>
    </div>
    <div class="form-check text-left" style="width:240px;">
         <%= label_tag 'With tags:', nil, class: 'col-form-label' %>
        <%= collection_select :tag_names, nil, Tag.all, :name, :name, {include_hidden: false}, { multiple: true, class: 'chosen-select' } %>
    </div>
