<nav class="navbar navbar-expand-lg" style='background-color: #271D36;'>
  <%= link_to root_path do  %>
    <%= image_tag 'binarapps_fb_logo.jpg',  size: '60x60'%>
  <% end %>
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-right ml-auto">
       <li><%= link_to 'All problems', problems_path, role: 'button', class: 'mr-3 btn btn-outline-primary' %>
            </li>
           <% if user_signed_in? %>
              <li> <%= link_to current_user.email, edit_user_registration_path, role: 'button', class: 'nav-link mr-3 btn btn-outline-primary' %></li>
              <%-# change so any styling classes -%>
              <li><%= link_to 'Logout', destroy_user_session_path, role: 'button', method: :delete, class: 'nav-link mr-3  btn btn-outline-warning' %></li>
              <li><%= link_to 'Create new post', new_problem_user_path, role: 'button', class: 'nav-link btn btn-outline-success' %>
            <% else %>

           

              <li><%=link_to 'Sign up', new_user_registration_path, role: 'button', class: 'mr-3 btn btn-outline-warning' %></li>
              <li><%=link_to 'Log in', new_user_session_path, role: 'button', class: 'btn btn-outline-warning' %></li>
            <% end %>
    </ul>
  </div>
</nav>