<div>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #28121E;">

<%= link_to root_path do  %>
   <img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Black_star.png
" width="30" height="30">
 <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <%= link_to root_path, class: 'nav-link' do %>
          Home <%= content_tag(:span, '(current)', class: 'sr-only') %>
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
     <% if user_signed_in? %>
          <li> <%= link_to current_user.email, edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
     <% else %>
          <li><%=link_to "Sign up", new_user_registration_path %></li>
          <li><%=link_to "Log in", new_user_session_path %></li>
     <% end %>
    </ul>
  </div>
</nav>
</div>

